# Configurações da API
LARAVEL_VALIDATE_ENDPOINT=https://<URL_DA_SUA_APLICACAO_LARAVEL>/api/verify-raspberry
LARAVEL_STATUS_ENDPOINT=https://<URL_DA_SUA_APLICACAO_LARAVEL>/api/raspberry-status
LARAVEL_SSH_KEY_ENDPOINT=https://<URL_DA_SUA_APLICACAO_LARAVEL>/api/raspberry-ssh-key

CSV_FILE_PATH=data_backup.csv
