#!/usr/bin/python3

[Desktop Entry]
Version=1.0
Type=Application
Name=Staf
Exec=bash -c 'python /home/pi/staf-rasp/script.py'
Icon=/home/pi/staf-rasp/icon.png 
Terminal=false
X-KeepTerminal=false 
StartupNotify=false
Categories=Application;
